/* @import url('https://fonts.googleapis.com/css?family=Syne+Mono'); */

:root {
  --the-font: 'Syne Mono','Fira Code';
  --the-font-size: 16px;
  --editor-line-height: 1.5;
  --char-width: 10px;

  --default-font: var(--the-font);
  --font-monospace: var(--the-font);
  --status-bar-height: 21px;
  --prompt: "$";
  --not-existent-note: "+";
  --pin-command: "*";
  --selected: ">";
  --active-tab: "^";
  --collapse-right: ">";
  --collapse-down: "v";
  --show-more-top: "+\\";
  --show-more-bottom: "+/";
  --search: "/";
  --replace: ":";
  --prev: "<";
  --next: ">";
  --all: "-a";
  --close: "x";
  --quit: "/q";
}
body {
  line-height: var(--editor-line-height);
}

.theme-dark {
  --the-color: #23ff18;
  --the-color-rgb: 35, 255, 24;

  --background-primary: #000000;
  --background-primary-alt: #000000;
  --background-secondary: #000000;
  --background-secondary-alt: #000000;
  --background-modifier-border: var(--the-color);
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #197300;
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --text-accent: var(--the-color);
  --text-accent-hover: #000000;
  --text-normal: var(--the-color);
  --text-muted: var(--the-color);
  --text-muted-rgb: var(--the-color-rgb);
  --text-faint: var(--the-color);
  --text-error: #ff3333;
  --text-error-hover: #990000;
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: rgba(23, 48, 77, 0.99);
  --text-on-accent: var(--the-color);
  --interactive-normal: #000000;
  --interactive-hover: #000000;
  --interactive-accent: #000000;
  --interactive-accent-rgb: var(--the-color-rgb);
  --interactive-accent-hover: #000000;
  --interactive-success: #197300;
  --scrollbar-active-thumb-bg: rgb(255, 255, 255);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --highlight-mix-blend-mode: lighten;
}

/* Buttons/Input/Dropdown */
button,
.checkbox-container,
input[type='text']:not(.prompt-input),
input[type='text']:focus:not(.prompt-input),
input[type='search'],
input[type='email'],
input[type='password'],
input[type='number'] {
  border: solid 1px var(--the-color);
}
.checkbox-container:after {
  background-color: var(--the-color);
}
.dropdown {
  border: solid 1px var(--the-color);
}

/* Status bar */
.status-bar {
  justify-content: flex-start;
  padding-left: 0;
  margin-left: -5px;
}

/* Hider */
/* Frameless */
body {
  padding-top: 0 !important;
}
/* Hide ribbon */
.workspace-ribbon.mod-left,
.workspace-ribbon.mod-right {
  display:none;
}
.workspace-split.mod-right-split,
.workspace-split.mod-left-split {
  margin-right:0;
}
/* Frameless */
.titlebar-button-container {
  display:none;
}
.titlebar,
.titlebar-inner {
  position:fixed;
  top:0;
  height:12px;
  background:transparent;
}
/* .workspace-split.mod-left-split > .workspace-tabs {
  padding-top:18px;
} */
/* Hide scrollbars */
::-webkit-scrollbar {
  display:none;
}
/* Hide search suggestions */
/* .suggestion-container.mod-search-suggestion {
  display: none;
} */
/* Hide instructions */
.prompt-instructions {
  display:none;
}

/* EDITOR */
/******************************/
.markdown-source-view.mod-cm5 {
  padding: 0px;
}
.CodeMirror-lines {
  padding-left: 20px;
}
.CodeMirror-line {
  line-height: var(--editor-line-height);
}
.cm-s-obsidian {
  line-height: var(--editor-line-height);
  font-size: var(--the-font-size);
  font-family: var(--the-font);
  /* top border */
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: var(--the-color);
}

/* Prompt */
.CodeMirror-activeline .CodeMirror-line:before {
  content: var(--prompt);
  position: absolute;
  left: -0.5em;
  font-size: var(--the-font-size);
  color: var(--the-color);
  font-family: fira code;
}

/* Cursor */
.CodeMirror-cursor,
.cm-s-obsidian .cm-cursor {
  border-left: 0.7em solid var(--the-color);
}

/* Headers */
.cm-s-obsidian .HyperMD-header {
  padding-bottom: 0;
  line-height: var(--editor-line-height) !important;
}
.cm-header {
  font-size: var(--the-font-size);
}

/* Inline Formats */
.cm-formatting.cm-formatting-code.cm-inline-code {
  background-color: transparent;
}
.cm-s-obsidian span.cm-inline-code {
  color: var(--the-color);
  font-size: var(--the-font-size);
  font-style: italic;
}

.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
  background-color: unset;
  font-weight: bold;
  font-size: var(--the-font-size);
}

/* List */
.cm-s-obsidian .HyperMD-list-line {
  text-indent: 0px !important;
  padding-left: 5px !important; /* important added for hard-coded style */
  padding-top: 0px;
  min-height: unset;
}

/* Blockquote */
.cm-s-obsidian .HyperMD-quote {
  text-indent: 0px !important;
  padding-left: 5px !important;
  padding-top: 0px
}

/* Code block */
.cm-s-obsidian span.cm-inline-code.cm-hmd-indented-code {
  font-style: normal;
}
pre.CodeMirror-line {
  text-indent: unset !important; /* important added for hard-coded style */
  padding-left: 5px !important;
}

.cm-formatting.cm-formatting-code-block,
.cm-hmd-codeblock {
  color: var(--the-color);
  font-size: var(--the-font-size);
  line-height: var(--editor-line-height);
}

/* Footnote */
.cm-s-obsidian span.cm-footref:not(.cm-formatting-link),
.cm-s-obsidian span.cm-blockid,
.cm-s-obsidian .HyperMD-footnote span.cm-hmd-barelink:not(.cm-formatting-link) {
  font-size: var(--the-font-size);
  font-style: italic;
  vertical-align: unset;
  display: inline;
  margin-top: -0;
  text-decoration: underline;
}
.cm-s-obsidian span.cm-link.cm-hmd-barelink:not(.cm-formatting-link) {
  font-style: italic;
}
.cm-s-obsidian .HyperMD-footnote span.cm-hmd-footnote:not(.cm-formatting-link) {
  text-decoration: underline;
}
.cm-s-obsidian .HyperMD-footnote {
  padding-left: 5px;
  font-size: var(--the-font-size);
}

/* math */
.cm-s-obsidian .cm-math {
  color: var(--the-color);
}

/* Escape char */
.cm-s-obsidian span.cm-hmd-escape-char,
.cm-s-obsidian span.cm-hmd-escape-backslash {
  color: var(--the-color);
}
/******************************/

/* View header */
.view-header {
  flex-wrap: nowrap;
  align-items: baseline;
}
.view-header-title {
  font-size: var(--the-font-size);
  padding-top: 1.5px;
}
.view-header-icon,
.view-header-icon:hover {
  color: transparent;
  /* font-size: 0; */
  /* margin-right: -1rem !important; */
  padding-right: 0;
  width: 3em;
  padding-top: 0.25rem !important;
}
.view-header-icon:before {
  content: "PWD:";
  color: #23ff18;
  font-weight: bold;
  font-size: var(--the-font-size);
  position: relative;
  bottom: 2px;
  /* margin-right: -10px; */
}

.view-action[aria-label="Close"],
.view-action[aria-label="More options"],
.view-action[aria-label*="Preview"],
.view-action[aria-label*="Edit"] {
  color: transparent;
  width: 1rem;
}
.view-action:before {
  color: #23ff18;
  font-weight: bold;
  font-size: var(--the-font-size);
  position: relative;
  bottom: 3px;
}
.view-action[aria-label*="Preview"]:before {
  content: "/p";
}
.view-action[aria-label*="Edit"]:before {
  content: "/e";
}
.view-action.mod-close-leaf:before {
  content: "/q";
  color: #23ff18;
  font-weight: bold;
  font-size: var(--the-font-size);
}
a[aria-label="More options"]:before {
  content: "/?";
  color: #23ff18;
  font-weight: bold;
  font-size: var(--the-font-size);
}

/* Prompt */
.prompt {
  display: unset;
  /* position: absolute; */
  bottom: var(--status-bar-height);
  top: 50%;
  width: 100%;
  max-width: unset;
  max-height: 50%;
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-radius: unset;
  padding-top: 9px;
}
.prompt-results {
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 10px;
  left: 10px;
  /* max-height: 90%; */
  padding-top: 0;
}
.modal-bg {
  background-color: unset;
}
input {
  font-family: fira code !important;
}
input.prompt-input {
  padding: 0 0 0 14px;
  border-color: transparent;
}
.prompt:before {
  content: var(--prompt);
  position: absolute;
  top: 18px;
  left: 12px;
}
.suggestion-item {
  padding: 0 0 0 15px;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
}
/* .is-selected {
  border-style: solid;
  border-color: var(--the-color);
  border-width: 1px 0;
} */
.is-selected:not(.community-theme):before {
  content: var(--selected);
  position: absolute;
  left: 1px;
  bottom: 1px;
}
.suggestion-item:not(.is-selected) > .suggestion-content + .suggestion-flair:before {
  content: var(--pin-command);
  color: var(--the-color);
  position: relative;
  right: 8px;
  bottom: 6px;
}

/* Quick Switcher */
.suggestion-flair {
  color: transparent;
}
.suggestion-item:not(.is-selected) > .suggestion-flair[aria-label*="Not"]:before {
  content: var(--not-existent-note);
  color: var(--the-color);
  position: relative;
  right: 8px;
  bottom: 6px;
}

/* Suggestion (Slash Command/Link suggestion) */
.suggestion-container {
  max-width: unset;
  left: 0 !important;
  width: 100%;
  height: calc(var(--editor-line-height) * var(--the-font-size) * 8 + 2px);
  border-radius: 0;
  border-width: 1px 0 1px 0;
  padding: 0 10px 0 10px;
  margin-top: -5px;
}
.suggestion {
  max-height: 100%;
}
.suggestion-item .suggestion-note {
  /* display: none; */
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* Position adjustment when window is above */
.suggestion-container:before {
  content: attr(top) !important;
}

/* Setting/Store page */
.modal.mod-settings,
.modal.mod-community-plugin,
.modal.mod-community-theme {
  width: 100%;
  height: 100%;
  max-width: unset;
}
.modal.mod-settings .vertical-tab-header,
.modal.mod-settings .vertical-tab-content-container {
  /* height: 100%; */
  height: 100vh;
  overflow: auto;
  padding: 0;
}
.modal.mod-settings .vertical-tab-header,
.community-plugin-search {
  border-right: 1px solid var(--the-color);
}
.community-theme {
  border: 1px solid var(--the-color)
}
/* Setting item padding */
.vertical-tab-content {
  padding: 16px 0;
}
.setting-item {
  padding: 18px 30px;
}
.setting-item + .setting-item.setting-item-heading {
  border-top: 1px solid var(--the-color);
}
.community-theme-filters-container,
.hotkey-search-container {
  padding: 10px 30px 30px 30px;
}
.hotkey-list-container {
  padding-right: 0;
}
.setting-item + .setting-item-heading.setting-item:first-child {
  padding-top: 18px;
}
.mobile-option-setting-item {
  padding: 0 30px;
}

/* Active item */
.vertical-tab-nav-item.is-active:before {
  content: var(--selected);
  margin-right: 8px;
  width: 10px;
}
.vertical-tab-nav-item.is-active {
  text-indent: -17.9px;
}
/* Close button */
.modal-close-button {
  top: 4px;
  right: 10px;
  font-size: var(--the-font-size);
}
.modal-close-button::before {
  content: var(--close);
}

/* Title & Heading */
.vertical-tab-header-group-title,
.setting-item.setting-item-heading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--the-font-size);
}
/* Slider */
input[type='range']::-webkit-slider-thumb {
  border: 1.5px solid var(--the-color);
}


/* SIDE PANELS */
/********************************************/
.mod-right-split {
  margin-left: -1px;
  border-left: 0.9px solid var(--the-color);
  /* border-bottom: 1px solid var(--the-color); */
}
.mod-left-split {
  border-right: 1px solid var(--the-color);
  /* border-bottom: 1px solid var(--the-color); */
}
/* Hider specific */
/* .hider-frameless .workspace-split.mod-left-split > div.workspace-tabs {
  padding: 0;
} */
.workspace-leaf-resize-handle:not(:hover) {
  background-color: transparent;
}
.workspace-tabs + .workspace-tabs {
  margin-top: -1px;
  border-top: 1px solid var(--the-color);
}
.workspace-tabs {
  padding-right: 0;
}
/* Active tab */
.workspace-tab-header-container {
  padding-top: 2px;
  height: 36.7px; /* should be 36px, but ...*/
  border-bottom: 1px solid var(--the-color);
}
.workspace-tab-container-before {
  /* display: none; */
  width: 5px;
}
.workspace-tab-header.is-active:after {
  content: var(--active-tab);
  color: var(--the-color);
  position: relative;
  top: -12px;
}
.nav-header {
  padding-top: 4px;
}

/* Collapse Icons */
.collapse-icon svg {
  width: 0;
}
.is-collapsed .collapse-icon:before,
.collapse-icon:before {
  color: var(--the-color);
  width: 3px;
  position: relative;
  bottom: 1px;
  font-weight: bold;
}
.is-collapsed .collapse-icon:before {
  content: var(--collapse-right);
}
.collapse-icon:before {
  content: var(--collapse-down);
}

/* Show more content icons */
.search-result-hover-button.mod-top:before,
.search-result-hover-button.mod-bottom:before {
  width: 16px;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  background-color: transparent;
}
.search-result-hover-button.mod-top:before {
  content: var(--show-more-top);
  top: -4px;
}
.search-result-hover-button.mod-bottom:before {
  content: var(--show-more-bottom);
  bottom: -4px
}
.search-result-hover-button.mod-top svg,
.search-result-hover-button.mod-bottom svg {
  width: 0;
}
.search-result-hover-button.mod-bottom,
.search-result-hover-button.mod-top {
  background-color: transparent;
}

/* Search Result */
.search-result-file-match + .search-result-file-match {
  border-top: 0.5px solid var(--the-color);
  border-radius: 0;
}
.search-result-file-match:not(:last-child) {
  margin-bottom: 0;
}
.search-result-file-match:after {
  height: 0;
}

/* Not created files */
div[aria-label*="Not created"]:before {
  content: var(--not-existent-note);
  color: var(--the-color);
  position: relative;
  right: 8px;
  bottom: 1px;
  font-weight: bold;
}
div[aria-label*="Not created"] svg {
  width: 0;
}
/********************************************/

/* Workspace (Center Panes) */
.workspace-split.mod-vertical > .workspace-leaf,
.workspace-split.mod-vertical > .workspace-split {
  padding-right: 0;
}
.workspace-split.mod-vertical > .workspace-leaf + .workspace-leaf,
.workspace-leaf + .workspace-split.mod-horizontal,
.workspace-split.mod-horizontal + .workspace-leaf,
.workspace-split.mod-horizontal + .workspace-split.mod-horizontal {
  margin-left: -1px;
  border-left: 1px solid var(--the-color);
}
.workspace-leaf + .workspace-split.mod-vertical,
.workspace-split.mod-horizontal > .workspace-leaf + .workspace-leaf {
  margin-top: -1px;
  border-top: 1px solid var(--the-color);
}
.workspace-split.mod-vertical + .workspace-split.mod-vertical,
.workspace-split.mod-vertical + .workspace-leaf {
  margin-top: -1px;
  border-top: 0.98px solid var(--the-color);
}

/* PAGE PREVIEW */
.popover.hover-popover.is-loaded {
  width: 100%;
  left: 0 !important;
  border-radius: 0;
  border-width: 1px 0;
  border-top: 1px solid var(--the-color);
  border-bottom: 1px solid var(--the-color);
  height: calc(var(--editor-line-height) * var(--the-font-size) * 10);
  /* max-height: unset; */
}
.popover.hover-popover .markdown-embed {
  height: 100%;
}

/* GENERAL PREVIEW */
.markdown-preview-view {
  padding: 20px 20px;
  line-height: var(--editor-line-height);
  font-size: var(--the-font-size);
}
.workspace-leaf-content[data-mode="preview"] .view-content {
  border-top: 1px solid var(--the-color);
}

/* EMBED PREVIEW */
/******************************/
.markdown-embed .markdown-preview-view {
  padding: 0px 25px;
  line-height: var(--editor-line-height);
  font-size: var(--the-font-size);
  font-family: var(--the-font);
}

/* Headers */
.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
  margin: 0;
  font-size: var(--the-font-size);
}

/* Inline Formats */
.markdown-preview-view p {
  margin: 0;
}
.markdown-preview-view code {
  color: var(--the-color);
  padding: 0;
  font-size: var(--the-font-size);
  font-style: italic;
}

.markdown-preview-view mark {
  background-color: unset;
  font-weight: bold;
}

a:hover {
  color: var(--the-color);
}

.external-link {
  padding-right: 0;
  background: none;
}

/* List */
.markdown-preview-view ul {
  margin: 0;
  padding-inline-start: calc(2 * var(--char-width));
}
.markdown-preview-view ol {
  margin: 0;
  margin-left: var(--char-width);
  padding-inline-start: calc(2 * var(--char-width));
}
.markdown-preview-view ol li {
  padding-inline-start: 0;
}
.markdown-preview-view input.task-list-item-checkbox {
  margin: 0;
  width: calc(6.5 * var(--char-width));
}
.markdown-preview-view .task-list-item-checkbox {
  filter: hue-rotate(290);
}

/* Embed */
span.internal-embed.file-embed.mod-empty.is-loaded {
  margin: -1px;
  border-radius: 0;
  padding: calc(var(--editor-line-height) * var(--the-font-size)) calc(2 * var(--char-width));
}

/* Blockquote */
.markdown-preview-view blockquote {
  border-radius: 0;
  border-left-width: 1px;
  margin: -1px 0;
  padding: calc(var(--editor-line-height) * var(--the-font-size)) calc(2 * var(--char-width));
}

/* Code block */
.markdown-preview-view pre,
.markdown-preview-view pre[class*="language-"] {
  margin: 0;
  padding: 0;
  padding-left: calc(2 * var(--char-width));
  line-height: var(--editor-line-height);
}
.markdown-preview-view code,
.markdown-preview-view code[class*="language-"] {
  font-style: normal;
  line-height: var(--editor-line-height);
}

/* Table */
.markdown-preview-view table {
  margin: 0;
}
.markdown-preview-view th, .markdown-preview-view td {
  padding: 0 var(--char-width);
}

/* Footnote */
sup {
  vertical-align: unset;
  font-size: var(--the-font-size);
}

/* hr */
.markdown-preview-view hr {
  margin: 0;
  margin-top: calc(var(--editor-line-height) * var(--the-font-size));
  height: calc(var(--editor-line-height) * var(--the-font-size));
}

/* Metadata */
.frontmatter-container {
  padding: calc(var(--editor-line-height) * var(--the-font-size)) calc(2 * var(--char-width));
  border-radius: 0;
  font-size: var(--the-font-size);
  margin: -1px 0;
}
.frontmatter-container .frontmatter-container-header {
  font-size: var(--the-font-size);
  margin: 0 0 -1px 0;
}
.frontmatter-container .frontmatter-collapse-indicator:before {
  font-weight: normal;
}
.frontmatter-container .frontmatter-section {
  margin: 0;
}
.frontmatter-container .tag,
.frontmatter-container .frontmatter-alias {
  font-size: var(--the-font-size);
  border-radius: 0;
  padding: 0 0;
  margin: 0 var(--char-width);
  line-height: var(--editor-line-height);
  border-width: 0;
  background-color: transparent;
}
.frontmatter-container .mod-aliases .frontmatter-section-label {
  flex-basis: calc(8 * var(--char-width));
}
.frontmatter-container .mod-tags .frontmatter-section-label {
  flex-basis: calc(5 * var(--char-width));
}
.frontmatter-container .frontmatter-alias-icon {
  width: var(--char-width);
  margin-right: 0;
}
.frontmatter-container .frontmatter-alias-icon > svg {
  width: 10px !important;
}
/***************************** */

/* Graph View */
canvas {
  border-top: 1px solid var(--the-color) !important;
}

/* Search result matched color */
.search-result-file-matched-text,
.cm-s-obsidian span.obsidian-search-match-highlight,
.markdown-preview-view .search-highlight > div,
.markdown-preview-view .search-highlight > div.is-active {
  background-color: unset;
  border: 1px solid var(--the-color);
  mix-blend-mode: normal;
}
.cm-s-obsidian span.obsidian-search-match-highlight,
.search-result-file-matched-text {
  margin: -1px;
}

/* GUTTER */
.CodeMirror-foldgutter-open:after {
  content: var(--collapse-down);
  font-size: var(--the-font-size);
}
.CodeMirror-foldgutter-folded:after {
  content: var(--collapse-right);
  font-size: var(--the-font-size);
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  font-size: var(--the-font-size);
  display: flex;
  align-items: center;
}
/* Move gutter to the left */
/* And keep gutter 4-char-width for line number, */
/* keep gutter 1-char-width for gutter only */
.CodeMirror-linenumber {
  min-width: none;
  width: calc(3 * var(--char-width)) !important;
  padding: 0;
}
.CodeMirror-gutter.CodeMirror-linenumbers {
  width: calc(3 * var(--char-width)) !important;
}
.CodeMirror-sizer[style*="margin-left: 35px"],  /* line number only */
.CodeMirror-sizer[style*="margin-left: 46px"] { /* line number + gutter */
  margin-left: calc(4 * var(--char-width)) !important;
}
.CodeMirror-sizer[style*="margin-left: 16px"] { /* gutter only */
  margin-left: calc(1 * var(--char-width)) !important;
}
.CodeMirror-sizer[style*="margin-left: 35px"] .CodeMirror-gutter-wrapper,
.CodeMirror-sizer[style*="margin-left: 46px"] .CodeMirror-gutter-wrapper {
  left: calc(-30px - 2 * var(--char-width)) !important;
}
.CodeMirror-sizer[style*="margin-left: 16px"] .CodeMirror-gutter-wrapper {
  left: calc(-2 * var(--char-width)) !important;
}
.CodeMirror-gutters {
  left: var(--char-width) !important;
}

/* Preview folding */
.markdown-preview-view.allow-fold-heading,
.markdown-preview-view.allow-fold-lists {
  padding-left: 30px;
}
.markdown-preview-view ul > li > .list-collapse-indicator {
  padding-left: 14px;
  padding-top: 2px;
}
.markdown-preview-view ol > li > .list-collapse-indicator {
  padding-left: 2px;
  padding-top: 0.5px;
}
.markdown-preview-view li.task-list-item .list-collapse-indicator {
  padding-left: 12px;
  padding-top: 0.5px;
}

/* Search */
.document-search-container,
.document-search-container.mod-replace-mode {
  height: auto;
  padding: 0 5px;
  border-top: 0;
}
.document-search,
.document-replace {
  height: calc(var(--editor-line-height) * var(--the-font-size));
}
.search-input-container > input,
.document-search > input[type='text'],
.document-search > input[type='text']:focus,
.document-search > input[type='text']:hover,
.document-replace > input[type='text'],
.document-replace > input[type='text']:focus,
.document-replace > input[type='text']:hover {
  border-width: 0;
  padding: 0 14px 1px 12px;
  background-color: var(--background-primary);
  height: calc(var(--editor-line-height) * var(--the-font-size));
  margin: 0 8px;
}
.document-search > .document-search-buttons:before {
  content: var(--search);
  position: absolute;
  font-size: var(--the-font-size);
  left: 15px;
}
.document-replace > .document-replace-buttons:before {
  content: var(--replace);
  position: absolute;
  font-size: var(--the-font-size);
  left: 15px;
}
button.document-search-button {
  font-size: 0;
  border: none;
  margin-top: 0;
  padding-bottom: 4px;
}
button.document-search-button:before {
  font-size: var(--the-font-size);
}
button.document-search-button[aria-label='Shift + F3']:before {
  content: var(--prev);
}
button.document-search-button[aria-label='Enter or F3']:before {
  content: var(--next);
}
button.document-search-button[aria-label='Enter']:before {
  content: var(--next);
}
button.document-search-button:not([aria-label]):before {
  content: var(--all);
}
.document-search-close-button:before {
  content: var(--close);
  font-size: var(--the-font-size);
}
.document-search-close-button {
  top: unset;
}
.document-replace-buttons {
  margin-right: 20px;
}

/* Global search close button */
.search-input-clear-button:before {
  content: var(--close);
  font-size: var(--the-font-size);
  position: absolute;
  bottom: -22px;
}

/* Empty State */
.empty-state-container {
  /* margin: 0; */
  /* padding: 20px; */
  border: 1px dashed var(--the-color);
}
.empty-state-container:after {
  content: "\\   ^__^\A  \\  (oo)\\_______\A     (__)\\       )\\/\\\A         ||----w |\A         ||     ||";
  white-space: pre;
  position: absolute;
  right: 10px;
}
.empty-state-title {
  /* margin-top: 0; */
}