:root {
  --the-font: 'Fira Code';
  /* --editor-font-size: 16px; */
  --editor-line-height: 1.3;

  --default-font: var(--the-font);
  --font-monospace: var(--the-font);
  --status-bar-height: 21px;
  --prompt: "$";
  --not-existent-note: "+";
  --pin-command: "*";
  --selected: ">";
  --active-tab: "^";
  --collapse-right: ">";
  --collapse-down: "v";
  --show-more-top: "+\\";
  --show-more-bottom: "+/";
}

.theme-dark {
  --the-color: #23ff18;
  --the-color-rgb: 35, 255, 24;

  --background-primary: #000000;
  --background-primary-alt: #000000;
  --background-secondary: #000000;
  --background-secondary-alt: #000000;
  --background-modifier-border: var(--the-color);
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #197300;
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --text-accent: var(--the-color);
  --text-accent-hover: #000000;
  --text-normal: var(--the-color);
  --text-muted: var(--the-color);
  --text-muted-rgb: 153, 153, 153;
  --text-faint: var(--the-color);
  --text-error: #ff3333;
  --text-error-hover: #990000;
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: rgba(23, 48, 77, 0.99);
  --text-on-accent: var(--the-color);
  --interactive-normal: #2a2a2a;
  --interactive-hover: #303030;
  --interactive-accent: #000000;
  --interactive-accent-rgb: var(--the-color-rgb);
  --interactive-accent-hover: #000000;
  --interactive-success: #197300;
  --scrollbar-active-thumb-bg: rgb(255, 255, 255);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --highlight-mix-blend-mode: lighten;
}

/* Buttons/Input/Dropdown */
button,
.checkbox-container,
input[type='text']:not(.prompt-input),
input[type='text']:focus:not(.prompt-input),
input[type='search'],
input[type='email'],
input[type='password'],
input[type='number'] {
  border: solid 1px var(--the-color);
}
.checkbox-container:after {
  background-color: var(--the-color);
}
.dropdown {
  border: solid 1px var(--the-color);
}

/* Status bar */
.status-bar {
  justify-content: flex-start;
  padding-left: 0;
  margin-left: -5px;
}

/* EDITOR */
/******************************/
.markdown-source-view.mod-cm5 {
  padding: 0px;
}
.CodeMirror-lines {
  padding-left: 20px;
}
.CodeMirror-line {
  line-height: var(--editor-line-height);
}
.cm-s-obsidian {
  line-height: var(--editor-line-height);
  font-size: var(--editor-font-size);
  font-family: var(--the-font);
  /* top-bottom borders */
  border-style: solid;
  border-width: 1px 0px;
  border-color: var(--the-color);
}

/* Prompt */
.CodeMirror-activeline .CodeMirror-line:before {
  content: var(--prompt);
  position: absolute;
  left: -0.5em;
  font-size: var(--editor-font-size);
  color: var(--the-color);
  font-family: fira code;
}

/* Cursor */
.CodeMirror-cursor,
.cm-s-obsidian .cm-cursor {
  border-left: 0.7em solid var(--the-color);
}

/* Headers */
.cm-s-obsidian .HyperMD-header {
  padding-bottom: 0;
  line-height: var(--editor-line-height) !important;
}
.cm-header {
  font-size: var(--editor-font-size);
}

/* Inline Formats */
.cm-formatting.cm-formatting-code.cm-inline-code {
  background-color: transparent;
}
.cm-s-obsidian span.cm-inline-code {
  color: var(--the-color);
  font-size: var(--editor-font-size);
  font-style: italic;
}

.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
  background-color: unset;
  font-weight: bold;
  font-size: var(--editor-font-size);
}

/* List */
.cm-s-obsidian .HyperMD-list-line {
  text-indent: 0px !important;
  padding-left: 5px !important; /* important added for hard-coded style */
  padding-top: 0px;
  min-height: unset;
}

/* Blockquote */
.cm-s-obsidian .HyperMD-quote {
  text-indent: 0px !important;
  padding-left: 5px !important;
  padding-top: 0px
}

/* Code block */
.cm-s-obsidian span.cm-inline-code.cm-hmd-indented-code {
  font-style: normal;
}
pre.CodeMirror-line {
  text-indent: unset !important; /* important added for hard-coded style */
  padding-left: 5px !important;
}

.cm-formatting.cm-formatting-code-block,
.cm-hmd-codeblock {
  color: var(--the-color);
  font-size: var(--editor-font-size);
  line-height: var(--editor-line-height);
}

/* Footnote */
.cm-s-obsidian span.cm-footref:not(.cm-formatting-link),
.cm-s-obsidian span.cm-blockid,
.cm-s-obsidian .HyperMD-footnote span.cm-hmd-barelink:not(.cm-formatting-link) {
  font-size: var(--editor-font-size);
  font-style: italic;
  vertical-align: unset;
  display: inline;
  margin-top: -0;
  text-decoration: underline;
}
.cm-s-obsidian span.cm-link.cm-hmd-barelink:not(.cm-formatting-link) {
  font-style: italic;
}
.cm-s-obsidian .HyperMD-footnote span.cm-hmd-footnote:not(.cm-formatting-link) {
  text-decoration: underline;
}
.cm-s-obsidian .HyperMD-footnote {
  padding-left: 5px;
  font-size: var(--editor-font-size);
}

/* math */
.cm-s-obsidian .cm-math {
  color: var(--the-color);
}

/* Escape char */
.cm-s-obsidian span.cm-hmd-escape-char,
.cm-s-obsidian span.cm-hmd-escape-backslash {
  color: var(--the-color);
}
/******************************/

/* View header */
.view-header {
  flex-wrap: nowrap;
  align-items: baseline;
}
.view-header-title {
  font-size: var(--editor-font-size);
  padding-top: 1.5px;
}
.view-header-icon,
.view-header-icon:hover {
  color: transparent;
  /* font-size: 0; */
  /* margin-right: -1rem !important; */
  padding-right: 0;
  width: 2.7em;
  padding-top: 0.25rem !important;
}
.view-header-icon:before {
  content: "PWD:";
  color: #23ff18;
  font-weight: bold;
  font-size: var(--editor-font-size);
  position: relative;
  bottom: 2px;
  /* margin-right: -10px; */
}

.view-action,
.view-action:hover {
  color: transparent;
  width: 1rem;
}
.view-action:before {
  color: #23ff18;
  font-weight: bold;
  font-size: var(--editor-font-size);
  position: relative;
  bottom: 3px;
}
.view-action[aria-label*="Preview"]:before {
  content: "/p";
}
.view-action[aria-label*="Edit"]:before {
  content: "/e";
}
.view-action.mod-close-leaf:before {
  content: "/q";
  color: #23ff18;
  font-weight: bold;
  font-size: var(--editor-font-size);
}
a[aria-label="More options"]:before {
  content: "/?";
  color: #23ff18;
  font-weight: bold;
  font-size: var(--editor-font-size);
}

/* Prompt */
.prompt {
  display: unset;
  /* position: fixed; */
  bottom: var(--status-bar-height);
  top: 50%;
  width: 100%;
  max-width: unset;
  max-height: 50%;
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-radius: unset;
}
.prompt-results {
  max-height: 90%;
  padding-top: 0;
}
.modal-bg {
  background-color: unset;
}
input {
  font-family: fira code !important;
}
input.prompt-input {
  padding: 0 0 0 14px;
  border-color: transparent;
}
.prompt:before {
  content: var(--prompt);
  position: absolute;
  top: 18px;
  left: 12px;
}
.suggestion-item {
  padding: 0 0 0 15px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px 0;
}
/* .is-selected {
  border-style: solid;
  border-color: var(--the-color);
  border-width: 1px 0;
} */
.is-selected:not(.community-theme):before {
  content: var(--selected);
  position: absolute;
  left: 1px;
  bottom: 1px;
}
.suggestion-item:not(.is-selected) > .suggestion-content + .suggestion-flair:before {
  content: var(--pin-command);
  color: var(--the-color);
  position: relative;
  right: 8px;
  bottom: 6px;
}

/* Quick Switcher */
.suggestion-flair {
  color: transparent;
}
.suggestion-item:not(.is-selected) > .suggestion-flair[aria-label*="Not"]:before {
  content: var(--not-existent-note);
  color: var(--the-color);
  position: relative;
  right: 8px;
  bottom: 6px;
}

/* Suggestion (Slash Command) */
.suggestion-container {
  max-width: unset;
  left: 0 !important;
  width: 100%;
  height: calc(var(--editor-line-height) * var(--editor-font-size) * 10 + 2px);
  border-radius: 0;
  border-width: 1px 0 1px 0;
  padding: 0 10px 0 10px;
}
.suggestion {
  max-height: 100%;
}

/* Setting/Store page */
.modal.mod-settings,
.modal.mod-community-plugin,
.modal.mod-community-theme {
  width: 100%;
  height: 100%;
  max-width: unset;
}
.modal.mod-settings .vertical-tab-header,
.modal.mod-settings .vertical-tab-content-container {
  /* height: 100%; */
  height: 100vh;
  overflow: auto;
  padding: 0;
}
.modal.mod-settings .vertical-tab-header,
.community-plugin-search {
  border-right: 1px solid var(--the-color);
}
.community-theme {
  border: 1px solid var(--the-color)
}
/* Active item */
.vertical-tab-nav-item.is-active:before {
  content: var(--selected);
  margin-right: 8px;
  width: 10px;
}
.vertical-tab-nav-item.is-active {
  text-indent: -17.9px;
}

/* SIDE PANELS */
/********************************************/
.mod-right-split {
  margin-left: -1px;
  border-left: 0.9px solid var(--the-color);
  border-bottom: 1px solid var(--the-color);
}
.mod-left-split {
  border-right: 1px solid var(--the-color);
  border-bottom: 1px solid var(--the-color);
}
/* Hider specific */
.hider-frameless .workspace-split.mod-left-split > div.workspace-tabs {
  padding: 0;
}
.workspace-leaf-resize-handle:not(:hover) {
  background-color: transparent;
}
.workspace-tabs + .workspace-tabs {
  /* margin-top: -1px; */
  border-top: 1px solid var(--the-color);
}
/* Active tab */
.workspace-tab-header-container {
  height: 36px;
}
.workspace-tab-header.is-active:after {
  content: var(--active-tab);
  color: var(--the-color);
  position: relative;
  top: -10px;
}
.nav-header {
  padding-top: 4px;
}
/********************************************/

/* Collapse Icons */
.collapse-icon svg {
  width: 0;
}
.is-collapsed .collapse-icon:before,
.collapse-icon:before {
  color: var(--the-color);
  /* width: 8px; */
  position: relative;
  bottom: 1px;
  font-weight: bold;
}
.is-collapsed .collapse-icon:before {
  content: var(--collapse-right);
}
.collapse-icon:before {
  content: var(--collapse-down);
}

/* Show more content icons */
.search-result-hover-button.mod-top:before,
.search-result-hover-button.mod-bottom:before {
  width: 16px;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  background-color: transparent;
}
.search-result-hover-button.mod-top:before {
  content: var(--show-more-top);
  top: -4px;
}
.search-result-hover-button.mod-bottom:before {
  content: var(--show-more-bottom);
  bottom: -4px
}
.search-result-hover-button.mod-top svg,
.search-result-hover-button.mod-bottom svg {
  width: 0;
}
.search-result-hover-button.mod-bottom,
.search-result-hover-button.mod-top {
  background-color: transparent;
}

/* Search Result */
.search-result-file-match + .search-result-file-match {
  border-top: 0.5px solid var(--the-color);
  border-radius: 0;
}
.search-result-file-match:not(:last-child) {
  margin-bottom: 0;
}

/* Not created files */
div[aria-label*="Not created"]:before {
  content: var(--not-existent-note);
  color: var(--the-color);
  position: relative;
  right: 8px;
  bottom: 1px;
  font-weight: bold;
}
div[aria-label*="Not created"] svg {
  width: 0;
}